
<main role="main">
<div style="margin-top: 30px" class="container">


	<div ng-show="loader">
		<app-root>
		<div class="centered">

			<div class="spinner-border text-danger" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		</app-root>
	</div>

	<div  ng-hide="loader" class="shadow-lg p-4 mb-4 bg-white border border-danger rounded-lg">
		<h4 class="text-center text-dark">Register A Product</h4>
		<hr color=orange>
		<div ng-show="showMessage">
			<div class="alert alert-info alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="text-center">
					<strong>{{message}}</strong>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<label>Product Name:</label> <input class="form-control"
						type="text" ng-model="product.productName" />
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<label>Manufacturer:</label> <input class="form-control"
						type="text" ng-model="product.manufacturer" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<label>MRP:</label> <input class="form-control" type="text"
						ng-model="product.mrp" />
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<label>Current Price:</label> <input class="form-control"
						type="text" ng-model="product.price" />
				</div>
			</div>
			
			<div class="col-sm">
				<div class="form-group">
					<label>Available Quantity:</label> <input class="form-control"
						type="text" ng-model="product.quantity" />
				</div>
			</div>
			
			<div class="col-sm">
				<div class="form-group">
					<label>Category:</label> <input class="form-control"
						type="text" ng-model="product.category" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<label>Description:</label>
					<textarea class="form-control" ng-model="product.description"></textarea>
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<label>Choose an image :</label> <input
						class="form-control-file border" type="file" file-model="myFile" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<input class="btn btn-warning btn-block" type="submit" 
						ng-click="save()" value="Register" />
				</div>
			</div>
		</div>
	</div>
</div>






</main>